@model IEnumerable<ProjectVehicle.MVC.Models.VehicleModelViewModel>

@{
    ViewBag.Title = "Models";
}

<h2>These are all models by this manufacturer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Manufacturer name
        <th>
            @Html.DisplayNameFor(model => model.ModelName)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)            
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleMake.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VehicleModelID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VehicleModelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VehicleModelID })
            </td>
        </tr>
    }

</table>

